{% extends "base.html"%} <!-- Se extiende de base.html -->
{% block title %}Gestión de parqueos{% endblock %} <!-- El título de la pagina -->

{% block navResponsive %}   <!-- Menú responsive -->
<div class="collapse collapse.show fondo d-lg-none" id="sidebar">
    <div class="collapse-header">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo-ULACIT_blanco.png')}}" width="200" height="70" alt="Logo ulacit">
        </a>
    </div>
    <div class="collapse-body">
        <ul class="nav flex-column">
            <h3 class="text-uppercase mt-3 text-light">Registrar</h3>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/registrar-usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/registrar-parqueos">Parqueos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/registrar-vehiculos">Vehículos</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <h3 class="text-uppercase mt-5 text-light">Reportes</h3>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/reporte-ocupacion">Reportes de ocupación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/ingresos-fallidos">Reportes de ingresos fallidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/vehiculos-aprobacion">Reportes de aprobación</a>
            </li>
            <li class="nav-item my-2">
                <a class="nav-link text-light d-flex" href="/logout">
                    <span class="material-icons">logout</span>
                    <span class="mx-2">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block nav %} <!-- Menú  -->
<div class="fondo vh-100">
    <div class="pt-3">
        <div class="sidebar-imagen">
            <a href="/registrar-parqueos">
                <img src="{{ url_for('static', filename='images/logo-ULACIT_blanco.png')}}" width="200" height="70" alt="Logo ulacit">
            </a>
        </div>
        <ul class="nav flex-column">
            <h3 class="text-uppercase mt-3 text-light">Registrar</h3>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/registrar-usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/registrar-parqueos">Parqueos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/registrar-vehiculos">Vehículos</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <h3 class="text-uppercase mt-5 text-light">Reportes</h3>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/reporte-ocupacion">Reportes de ocupación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/ingresos-fallidos">Reportes de ingresos fallidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/vehiculos-aprobacion">Reportes de aprobación</a>
            </li>
        </ul>
        <div class="fixed-bottom m-3">
            <a class="nav-link text-light d-flex" href="/logout">
                <span class="material-icons">logout</span>
                <span class="mx-2">Cerrar Sesión</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block reporte %} <!-- Nombre del tipo de registro -->
registro de parqueos 
{% endblock %}

{% block contenido %} <!-- Formulario para registrar vehículos -->
<form class="mx-5 mt-6" method="POST">
    <div class="row">
        <div class="col">
            <h5>Nombre</h5>
            <input id="nombreParqueo" name="nombreParqueo" type="text" class="form-control form-control-lg" placeholder="Nombre" value="{{ nombre }}" required>
        </div>
        <div class="col">
            <h5>Capacidad de Espacios Regulares</h5>
            <input id="capacidadES" name="capacidadES" type="number" class="form-control form-control-lg" placeholder="0" min="1" value="{{ capacidadES }}" required>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h5>Capacidad de Espacios Motos</h5>
            <input id="capacidadMoto" name="capacidadMoto" type="number" class="form-control form-control-lg" placeholder="0"  min="1" value="{{ capacidadMotos }}" required>
        </div>
        <div class="col">
            <h5>Capacidad de Espacios Ley 7600</h5>
            <input id="capacidadLey" name="capacidadLey" type="number" class="form-control form-control-lg" placeholder="0"  min="1" value="{{ capacidadLey }}" required>
        </div>
    </div>
    <div class="pt-5 mb-4 text-end">
        <button id="btnRegParqueos" name="btnRegParqueos" class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
    </div>
</form>
{% endblock %}