<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Moulpali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/icono.png')}}" />

    <title>{% block title %}{% endblock %}</title> <!-- Para agregar el título a la página -->
</head>

<body>

    <nav class="navbar navbar-dark px-2 d-lg-block d-lg-none" aria-labelledby="Menú de opciones"> 
        <button class="navbar-toggler d-lg-block d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebar" aria-controls="sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> 
    {% block navResponsive %}  <!-- Contenedor para las opciones del menú responsive -->
    {% endblock %}
    </div>
    <div class="container-fluid bg-light">
        <div class="row">
            <nav id="sidebarMenu" class="col-lg-2 d-none d-lg-block sidebar"  aria-labelledby="Menú de opciones">
                {% block nav %}
                {% endblock %} <!-- Contenedor para las opciones del menú -->
            </nav>
            <div class="col-md-9 col-lg-10 px-md-4 fondoDB">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %} {% if category ==
                    'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert"> <!-- Muestra los mensajes flash de categoría error -->
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                    </div>
                    {% elif category =='warning' %}
                        <div class="alert alert-warning alter-dismissable fade show" role="alert"> <!-- Muestra los mensajes flash de categoría error -->
                            {{ message }}
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                        </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert"> <!-- Muestra los mensajes flash de categoría success -->
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"  aria-label="Cerrar"></button>
                    </div>
                    {% endif %} {% endfor %} {% endif %} {% endwith %}
                <h3 class="text-uppercase my-5">
                    {% block reporte %} <!-- Contenedor para el nombre del reporte o registro -->
                    {% endblock %}

                </h3>

                {% block contenido %} <!-- Contenedor para reportes y registros -->
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>
